/* game.htmlのCSS */
    body {
        font-family: Arial, sans-serif;
        text-align: center;
        background-color: #f0f0f0;
    }

    #map-container{
        position: relative;
        width: 100%;
        height: auto; 
        overflow: hidden;
    }

    #map{
        width: 100%;
        height: auto;
        display: block;
    }
    .s_btn {
        border-radius: 5px;
        background-color: lightblue;
        padding: 10px;
        text-decoration: none;
        color: white;
    }
    .btn{
        /* position: fixed; */
        border-radius: 5px;
        background-color: lightblue;
        padding: 10px;
        text-decoration: none;
        color: white;
        bottom: 20px;    /* 画面下からの距離 */
        right: 20px;
        padding: 10px 20px;
        z-index: 1000;
    }
    /* 選択画面 */
    #area {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    /* 出発点 */
    #area_s {
        margin: auto;
    }
    /* 終着点 */
    #area_f {
        margin: auto;
    }

    #controls {
        margin-top: 20px;
    }
/* game.htmlのCSS */

    h1 {
        font-weight: bold;
        font-size: 30px;
    }

/* 戻るボタン */
    .back {
        text-align: left
    }
/* 戻るボタン */

/* ハイライト用の円 */
#highlight-circle-start, #highlight-circle-end{
    position: absolute;
    width: 20px; /* 円の幅 */
    height: 20px; /* 円の高さ */
    background-color: transparent;
    background-color: blue; /* 青い塗りつぶし */
    border-radius: 50%;
    pointer-events: none; /* クリックを無効にする */
    display: none; /* 初期状態は非表示 */
    z-index: 1000; /* 他の要素より前に表示 */
      position: absolute;
    }
    .highlighted-area {
        outline: 2px solid blue;
    }
    #coords-display {
        color: blue;
    }

.tile {
    width: 50px;
    height: 50px;
    border: 1px solid #333;
    box-sizing: border-box;
}

